//Fonts
$main_font: 'Roboto', sans-serif;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colors
$primary: #E8505B;
$seconary: #455a64;
$black: #000000;
$white: #FFFFFF;
$light_grey: #eceeef;

//Unities
$separate: 5rem;